.searchContainer
    // border: 1px solid red
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    // align-content: center
    .inputBox
      width: 100%
      height: 32px
      margin-right: 20px
      display: flex
      align-items: center
      flex-wrap: nowrap
      border: 1px solid #005D84,
      border-radius: 2px,
      margin-right: 6px
      padding-left: 18px
      .input
        width: 100%
        height: 32px
        background: none
        border: none
        color: rgba(255, 255, 255, 0.6)
        margin-left: 10px
        &:focus-visible
          outline: none
